.cardProduct{
  background-color: white;
  box-shadow: 2px 1px 5px white;
  width: 440px;
  height: max-content;
  border-radius: 8px;
  margin: 0 2vw 2vh 3vw;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  color: black;
  text-decoration: none;
  transition: all ease-in-out 200ms;

  /* Estado de Foco e arrastar */
  &:hover, &:focus{
    animation: up 2s ease-in-out;

    @keyframes up{
      0%{
        transform: translateY(0px);
      }
      50%{
        transform: translateY(-1vh);
      }
      100%{
        transform: translateY(-2vh);
      }
    }
  }

  /* Imagem do produto */
  img{
    width: 100%;
    border-radius: 5px
  }
  
  /* Conteiner de nome e preço */ 
  div{
    display: flex;
    width: 75%;
    justify-content: space-between;
    padding: 0 2%;
    margin: 0 auto;
    gap: 2vw;
    align-items: center;
    margin: 2vh auto;

    h1,h2{
      font-size: 14px;
    }
  }
  /* Parágrafo */
  p{
    width: 90%;
    font-size: 12px;
    font-weight: 600;
    margin: 2vh auto;
    text-align: center;
    margin: 1vh auto;
  }
}


/* Span de loading */
.loadingCard{
  background-color: grey;
  width: 42vw;
  height: 40vh;
  border-radius: 5px;
  margin-top: 4vh;
  overflow: hidden;
  display:grid;
  align-items: center;

  /* span de Carregando */
  .blur{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 5px solid #ccc;
      border-top-color: rgba(240,240,240,1);
      animation: loadingCircle 1s linear infinite;
      margin: 0 auto;
      display: block;

    /* Animação para o span girar */
    @keyframes loadingCircle {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}


