run = "cowsay Configure me!"
modules = ["nodejs-20:v8-20230920-bd784b9"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "cowsay Configure me!"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 3000
exposeLocalhost = true
