// styles/globals.scss
$primary-color: #0070f3;

body {
  background-color: #f0f0f0;
  color: $primary-color;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}