/* Títulos da Página */
.titleHome{
  color: white;
  font-size: 18px;
  width: max-content;
  height: max-content;
  margin: 5vh auto 1vh 8vw;
}

.recentlyAdded{
  width: 95%;
  height: 65vh;
  margin: 2vh 3vw 4vw;
  display: flex;
  flex-warp: no-wrap;
  overflow: hidden;
}

