/* Títulos da Página */
.titleHome{
  color: white;
  font-size: 24px;
  width: max-content;
  height: max-content;
  margin: 5vh auto 1vh 6vw; 
}

.productCarousel{
  width: 80%;
  display: flex;
  gap: 5vw;
  color: white;
  margin: 0 auto;
  overflow: hidden;
}