/* conteiner do formulário */
.registerProduct{
  width: 80%;
  padding: 2vh 5% 3vh 5%;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin: 2vh auto;

  /* Título */
  h1{
    width: 90%;
    margin: 2vh auto 3vh;
    font-size: 20px;
    border-bottom: solid 2px black;
    padding-bottom: 2vh;
  }

  /* Formulário  */
  form{
    display:flex;
    flex-direction: column;
    gap: 2vh;
    margin: 0 auto;

    /* Botão */
    input{
      width: 80%;
      margin: 1vh auto 2vh;
      border:none;
      background-color: black;
      transition: all 500ms ease-in-out;
      border-radius: 8px;
      padding: 3vh 3vw;
      color: white;

      /* Estado de foco */
      &:focus{
        outline: none;
        transform: translateY(1vh);
      }
    }

    /* Conteiner */
    div{
      display:flex;
      justify-content: center;
      width: max-content;
      margin: 1vh auto;
      font-weight: 700;
      transition: all 500ms ease-in-out;
      align-items: center;
      
      /* Botão estoque */
      #isStorage{
        /* Estado de Checagem */
        &:focus{
          background-color: green;

          /* Estilo do input */
          .storageQuantity{
            display: block;
            opacity: 0;
          }
        }
      }

      /* Nome do Botão */
      label{
        width: max-content;
        text-align: center;
        font-size: 12px;
      }

      /* Quantidade em Estoque */
      .storageQuantity{
        display:none;
        opacity: 0;
      }
    }

    /* Botão */
    button{
      width: 50%;
      margin: 1.5vh auto;
      padding: 2vh 2vw;
      border: none;
      border-radius: 7px;
      background-color: white;
      box-shadow: 1px -2px 20px 0px black;
      font-weight: 800;
    }
  }
}