// /* Importando estilos das páginas */
// @import url("@pages/home/home.scss");
// @import url("@pages/login/login.scss");

// /* Importando estilos dos componentes */
// @import url("@layout/header.scss");

/* Importando Fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* Estilização global de elementos */
*{
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  paddin: 0;
}

/* Estilo do container da Aplicação */
#app{
  wrap: wrap;
  width:100%;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Media Querys para tema claro do dispositivo */
@media (prefers-color-scheme: light) {
  
}
