/* conteiner do formulário */
.registerProduct{

  /* Título do Container */
  h1{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 2vh;
    filter: drop-shadow(-1px -1px 5px 10px black);
  }

  /* Formulário */
  form{
    width : 85%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 20px;
    margin-top: 2vh;

    /* Campos de texto */
    input{
      width: 90%;
      background-color: rgba(255,255,255,0.75);
      border-radius: 5px;
      padding: 5px 0 8px 15px;
      box-shadow: 2px 1px 10px 0px white; 
      border: none;
      color: blue;
      transition: all 300ms ease-in-out;

      /* Placeholder */
      &::placeholder{
        color: blue;
      }

      /* Estado de foco */
      &:focus{
        outline: 0;
        border: none;
        transform: translateY(-5px);
        background-color: rgba(255,255,255,0.4);
        box-shadow: 2px 1px 10px 0px rgba(255,255,255,0.4);
        transition: all ease-in-out 200ms;
        color: cyan;
        &::placeholder{color: cyan;}
      }
    }

    /* Botão */
    button{
      background-color: rgba(255,2552,550, 0.7);
      width: max-content;
      border-radius: 10px;
      padding: 5px 10px;
      border: 0;
      margin: 0 auto;
      color: blue;
      font-weight: 600;
      margin-top: 2vh;
      box-shadow: 2px 0.5px 10px 0px white;
      transition: all ease-in-out 200ms;

      &:hover{
        background-color: blue;
        color: white;
        opacity: 0.2;
      }
   }

  }
}