/* conteiner do formulário */
.registerProduct{

  /* Título do Container */
  h1{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 2vh;
    filter: drop-shadow(0 0 5px 10px black);
  }

  /* Formulário */
  form{
    width : 85%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    margin-top: 2vh;

    /* Campos de texto */
    input{
      background-color: rgba(255,255,255,0.75);
      border-radius: 15px;
      padding: 10px 0 10px 15px;

      /* Estado de foco */
      &:focus{
        outline: 0;
      }
    }

  }
}